{% extends 'base.html' %}
{% load static %}


{% block title %}About{% endblock %}

{% block content %}
      <section class="pg2" id="Home">
        <div class="container">
            <div class="home-flex" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="50" data-aos-once="true">
                <div class="home-text">
                    <!-- <img src="images/logo navbar.png" class="img-fluid" alt=""> -->
                    <h2> <b> Quality Assurance </b></h2>
                    <div class="horizontal-line"></div>
                    <p>Ensuring accuracy and compliance in billing.</p>
                    <a href="/about"><button type="button" class="btn home-btn btn-outline-light">Explore Further</button></a>
                </div>
            </div>
        </div>
    </section>

    <section style="padding-top: 70px;">
        <div class="contact-text" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="50" data-aos-once="true">
            <h3><b>About Us</b></h3>
            <div class="horizontal-line"></div>
            <p>We excel as top-tier Medical Billing Experts in our community.</p>
        </div>
        <section class="feature-2" id="Download" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="50" data-aos-once="true">
            <div class="container">
                <div class="feature-2-mobile">
                    <div class="feature-div-1">
                        <div class="feature-img">
                            <img src="{% static 'images/doc1.avif' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="feature-div-2">
                        <div class="feature-2-text">
                            <h3>Enter Our Medical Billing World.</h3>
                            <div class="horizontal-line"></div>
                            <p>FS: Committed to delivering high-value medical<br>
                                billing services. Our expert team guarantees 100% customer <br>
                                satisfaction with industry-leading expertise.</p>
                            <div class="icon-text">
                                <span class="material-icons billing-icon" style="font-size: 40px; color: #2c85c9;">business_center</span>
                                <div class="icontextt">
                                    <h5>Streamlined Billing Excellence</h5>
                                    <p>Efficiency, expertise, and a relentless commitment define our service, <br>
                                        ensuring your billing process runs smoothly.</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <span class="material-icons billing-icon" style="font-size: 40px; color: #2c85c9;">business_center</span>
                                <div class="icontextt icontexttt">
                                    <h5>Patient-Centric Billing</h5>
                                    <p>Our client-centered expertise ensures a remarkable experience. <br>
                                        We expedite claims, monitor processing to payment, promptly <br>
                                        addressing denials and appeals..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-2-flex">
                    <div class="feature-img">
                        <img src="{% static 'images/doc1.avif' %}" class="img-fluid" alt="">
                    </div>
                    <div class="feature-2-text">
                        <h3>Enter Our Medical Billing World.</h3>
                        <div class="horizontal-line"></div>
                        <p>FS: Committed to delivering high-value medical<br>
                            billing services. Our expert team guarantees 100% customer <br>
                            satisfaction with industry-leading expertise.</p>
                        <div class="icon-text">
                            <span class="material-icons billing-icon" style="font-size: 40px; color: #2c85c9;">business_center</span>
                            <div class="icontextt">
                                <h5>Streamlined Billing Excellence</h5>
                                    <p>Efficiency, expertise, and a relentless commitment define our service, <br>
                                        ensuring your billing process runs smoothly.</p>
                            </div>
                        </div>
                        <div class="icon-text">
                            <span class="material-icons billing-icon" style="font-size: 40px; color: #2c85c9;">business_center</span>
    
                            <div class="icontextt icontexttt">
                                <h5>Patient-Centric Billing</h5>
                                    <p>Our client-centered expertise ensures a remarkable experience. <br>
                                        We expedite claims, monitor processing to payment, promptly <br>
                                        addressing denials and appeals..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="feature-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="50" data-aos-once="true">
            <div class="container">
                <div class="feature-3-flex">
                    <div class="feature-3-text">
                        <h3>Why We Excel Above All?</h3>
                        <div class="horizontal-line"></div>
                        <p>Our dedicated staff brings specialized knowledge and extensive training to the <br>
                            dynamic realm of medical billing. They excel in navigating the intricacies of<br>
                            medical insurance, effectively managing billing for healthcare providers <br>
                           with precision and expertise.</p>
    
                        <p>Our experts master medical billing, ensuring seamless management for healthcare<br>
                            providers. They navigate complex insurance intricacies with precision</p>
                    </div>
                    <div class="feature-img">
                        <img src="{% static 'images/doc3.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
    
        <section class="about" id="About" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="50" data-aos-once="true">
            <div class="container">
                <div class="about-text">
                    <h3>Why Opt for Our Services?</h3>
                    <div class="horizontal-line"></div>
                    <p>Unlocking value in choosing our exceptional services.</p>
                </div>
                <div class="about-iconss">
                    <div class="about-icons">
                        <span class="material-icons mb-2" style="font-size: 40px; color: #2c85c9; border: 2px solid #2c85c9; padding: 12px; border-radius: 50%;">trending_up</span>
    
                        <div class="about-icon-text">
                            <h4>Financial Enhancement</h4>
                            <p>Our unwavering dedication is channeled into achieving <br>
                                tangible improvements in your financial bottom <br> line, ensuring a more prosperous outcome</p>
                        </div>
                    </div>
                    <div class="about-icons">
                        <span class="material-icons mb-2" style="font-size: 40px; color: #2c85c9; border: 2px solid #2c85c9; padding: 12px; border-radius: 50%;">access_time</span>
                        <div class="about-icon-text">
                            <h4>Availability</h4>
                            <p>As a billing company, we shoulder these responsibilities, <br>
                                allowing you to prioritize delivering quality <br>patient care without distractions.</p>
                            </div>
                        </div>
                    <div class="about-icons">
                        <span class="material-icons mb-2" style="font-size: 40px; color: #2c85c9; border: 2px solid #2c85c9; padding: 12px; border-radius: 50%;">flag</span>
                        <div class="about-icon-text">
                            <h4>Mission</h4>
                            <p>Our sole mission is nurturing your business's<br>
                                growth and providing unwavering <br> support whenever you need it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    
{% endblock %}