
{% extends 'base.html' %}
{% load static %}


{% block title %}Profile{% endblock %}

{% block content %}

        <div class="col-lg-8 container pt-3" data-aos="fade-down" data-aos-duration="1500"  data-aos-delay="50" data-aos-once="true">
          <div class="card mb-4">
            <div class="card-body" style="background-color: #f5f5f5; color: black;">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-black mb-0">{{request.user.first_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-black mb-0">{{request.user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-black mb-0">{{request.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-black mb-0">{{request.user.username}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="py-3" style="display: flex; justify-content: center;" data-aos="fade-left" data-aos-duration="1500"  data-aos-delay="50" data-aos-once="true">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_profile">
            Change Your Profile Settings
          </button>
          
          <a href='/logoutuser' class="btn btn-primary ms-4">
            Logout
          </a>
          </div>
          </div>
          
          <form action="/edit_profile" method="post">
            {% csrf_token %}
          <div class="modal fade" id="edit_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Your Profile Here</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="form-group col-12 col-md-6">
                            <label for="profilefname">First Name:</label>
                            <input type="text" value="{{request.user.first_name}}" name="profilefname" class="form-control" id="profilefname"  >
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="profilelname">Last Name:</label>
                            <input type="text"value="{{request.user.last_name}}" name="profilelname" class="form-control" id="profilelname"  >
                        </div>
                      </div>
                        <div class="form-group">
                            <label for="profileusername">Username:</label>
                            <input type="text"value="{{request.user.username}}" name="profileusername" class="form-control" id="profileusername"  >
                        </div>
                        <div class="form-group">
                            <label for="profileemail">Email:</label>
                            <input type="email"value="{{request.user.email}}" name="profileemail" class="form-control" id="profileemail"  >
                        </div>
                        <div class="form-group" style="position:relative;">
                            <label for="prpassword">Password:</label>
                            <input type="password" name="prpassword" class="form-control" id="prpassword">
                            <i id="prpassword-toggle" class="bi bi-eye-fill" onclick="prtogglePasswordVisibility()" style="position: absolute; top: 33px; right: 10px; cursor: pointer;"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitReview">Submit</button>
                    </div>
                </div>
            </div>
          </div>
          </form>
{% endblock %}