{% extends 'base.html' %}
{% load static %}


{% block title %}Softwares{% endblock %}

{% block content %}

      <section class="pg7" id="Home">
        <div class="container">
            <div class="home-flex" data-aos="fade-left" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
                <div class="home-text">
                   <b><h2>Medical Billing Software Solutions</b></h2>
                    <div class="horizontal-line"></div>
                    <p>"An overview of our software expertise in healthcare specialties.</p>
                    <a href="/about"><button type="button" class="btn home-btn btn-outline-light">Explore Further</button></a>
                </div>
            </div>
        </div>
    </section>

<!-- SPECIALITIES -->
<section class="text-center testimonials-page text-lg-start shadow-1-strong rounded container" style="padding-top: 70px; padding-bottom: 20px;">
    <div class="testimonials-text pb-4" data-aos="fade-right" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
        <h3><b>Software Expertise</b></h3>
        <div class="horizontal-line"></div>
        <p>Efficient medical billing software streamlines healthcare financial management processes seamlessly.</p>
    </div>
<div class="row">
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/1.jpeg' %}" class="img-fluid" alt="" style="width: 180px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Nextgen</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/2.jpeg' %}" class="img-fluid" alt="" style="width: 200px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Athenahealth</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/3.jpeg' %}" class="img-fluid" alt="" style="width: 137px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">EZ Claim</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/4.jpeg' %}" class="img-fluid" alt="" style="width: 181.5px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Change Healthcare</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/6.jpeg' %}" class="img-fluid" alt="" style="width: 210px; margin-top: 20px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px; margin-top: 27px !important;">Gehrimed</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/7.jpeg' %}" class="img-fluid" alt="" style="width: 139px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">eClinical Works</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/8.jpeg' %}" class="img-fluid" alt="" style="width: 242px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">dr chrono</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/9.jpeg' %}" class="img-fluid" alt="" style="width: 220px; margin-top: 20px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px; margin-top: 35px !important;">Trizetto</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/10.jpeg' %}" class="img-fluid" alt="" style="width: 240px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Allscripts</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/11.jpeg' %}" class="img-fluid" alt="" style="width: 220px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px; margin-top: 20px !important;">Azalea Health</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/12.jpeg' %}" class="img-fluid" alt="" style="width: 249px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Tebra</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/13.jpeg' %}" class="img-fluid" alt="" style="width: 128px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">AdvanceMD</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/14.jpeg' %}" class="img-fluid" alt="" style="width: 240px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Practice fusion</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/15.jpeg' %}" class="img-fluid" alt="" style="width: 230px; margin-top: 40px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px; margin-top: 45px !important;">Ofiice Ally</p>
    </div>
  </div>
</div>
<div class="col-xxl-3 col-lg-3  py-3" data-aos="fade-up" data-aos-duration="1500"   data-aos-delay="50" data-aos-once="true" data-aos-once="true">
  <div class="card py-2" style="height: 230px;">
    <div class="m-1">
        
        <div class="software-icon d-flex justify-content-center">
          <img src="{% static 'softwares/16.jpeg' %}" class="img-fluid" alt="" style="width: 125px;">
        </div>
          <p class="lead mb-2 mt-2 text-center" style="font-size: 18px;">Core Cloud</p>
    </div>
  </div>
</div>
</div>
</div>
</section>

{% endblock %}